.project-type {
  // width: 19rem;
  background-color: #356d7e;
  animation: bazinga 1s ease-in;
  margin: 5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0.2rem;
  color: #97d4d8;
  height: 4rem;
}

table {
  width: 17rem;
  border-radius: 0.5rem;
  border-collapse: separate;
  border-spacing: 0.4em;
}

.project-type:hover {
  color: beige;

  // box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(100, 120, 157);
}

td,
tr {
  border-radius: 0.5rem;
}

h3 {
  font-size: 2rem;
}

.project-container {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  position: absolute;
  top: 24%;
  left: 38%;
  margin: -5rem 0 0 -12rem;
  max-width: 70rem;
}

.Vanilla:after {
  content: '';
  position: absolute;
  width: 10%;
  height: 10%;
  right: 0;
  top: 50%;
  border: 20px solid transparent;
}

.project-type-active {
  background-color: #6ca0ac;
  color: #3b6777;
  cursor: pointer;
}

.project-type-active:hover {
  color: rgb(138, 201, 220);

  // box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(100, 120, 157);
}

// @keyframes bazinga {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
