.project-type {
  width: 15rem;
  background-color: #a2b6c9;
  animation: bazinga 1s ease-in;
  margin: 5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0;
}

h3 {
  font-family: trench;
  font-size: 2rem;
}

.project-container {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  position: absolute;
  top: 19%;
  left: 38%;
  width: 70%;
  margin: -5% 0 0 -13%;
  max-width: 63rem;
}

.Vanilla:after {
  content: '';
  position: absolute;
  width: 10%;
  height: 10%;
  // background-color: red;
  right: 0;
  top: 50%;
  border: 20px solid transparent;
  // border-right: 0;
  // margin-top: -10px;
  // margin-right: -20px;
}

.active {
  background-color: rgb(109, 134, 136);
  color: white;
}

@keyframes bazinga {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
