.project-type {
  width: 18rem;
  background-color: #839eb8;
  animation: bazinga 1s ease-in;
  margin: 5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0;
  color: #4d6d6f;
  height: 4rem;
}

.project-type:hover {
  // border: 2px solid rgb(100, 120, 157);
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(100, 120, 157);
}

h3 {
  font-size: 2rem;
}

.project-container {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  position: absolute;
  top: 24%;
  left: 38%;
  margin: -5rem 0 0 -12rem;
  max-width: 70rem;
}

.Vanilla:after {
  content: '';
  position: absolute;
  width: 10%;
  height: 10%;
  right: 0;
  top: 50%;
  border: 20px solid transparent;
}

.active {
  background-color: #6d8688;
  color: #c4c4c4;
}

.active:hover {
  color: beige;
}

@keyframes bazinga {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
