.project-type {
  border: 2px solid gray;
  width: 15rem;
  background-color: #dad3c9;
  animation: bazinga 1s ease-in;
  margin: 5rem 0;
  border-radius: 0.5rem;
  cursor: pointer; }

.project-container {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: wrap;
  position: absolute;
  top: 19%;
  left: 38%;
  width: 70%;
  margin: -5% 0 0 -13%; }

.Vanilla:after {
  content: '';
  position: absolute;
  width: 10%;
  height: 10%;
  right: 0;
  top: 50%;
  border: 20px solid transparent; }

.active {
  background-color: #796767;
  color: white;
  border: 2px solid #3f3d3d; }

@keyframes bazinga {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
