.img {
  height: 30rem;
  width: 40rem;
}

.img-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.img-next,
.img-previous {
  position: absolute;
  height: 15rem;
  width: 10rem;
  transform: skew(0, 20deg);
  align-self: center;
  opacity: 0.5;
  filter: grayscale(50%);
  right: -40%;
}

.img-previous {
  transform: skew(0deg, -20deg);

  left: -40%;
}
