.project-card {
  display: flex;
  flex-direction: row;
}

.img {
  border-radius: 0.5rem;
  visibility: visible;
  transition: opacity 1s linear;
}

.click-directions {
  color: aliceblue;
}

.img:hover {
  filter: brightness(50%);
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 13%;
  top: 8%;
  height: 85vh;
  width: 76vw;
  background: #aec3d4;
  z-index: 1;
  border-radius: 0.5rem;
}

modal::backdrop {
  color: black;
}

.description {
  font-family: 'Titillium Web', sans-serif;
  margin: 3rem 0; }
