.project-card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  animation: fadeIn 1s linear;
  margin: 2rem 0 0 7rem;
  height: 15rem;
  width: 20rem;
}

.project-card:hover {
  /* background: linear-gradient(rgba(3, 89, 89, 0.808), rgba(5, 136, 138, 0.87)); } */
}

.img {
  border-radius: 0.5rem;
}

.img {
  // filter: grayscale(70%);
}

.project-photos:hover {
  background: linear-gradient(rgba(52, 53, 53, 0.808), rgba(0, 0, 0, 0.87)),
    center/cover;
  background-size: 10rem;
}

.click-directions {
  // position: absolute;
  // bottom: 24rem;
  // left: 10rem;
  color: aliceblue;
}

.img:hover {
  filter: brightness(50%);
}

.img-Minecraft,
.img-Amumu,
.img-Avatar {
  filter: grayscale(50%);
}

.img-Minecraft:hover {
  filter: grayscale(0%);
}

.img-Amumu:hover {
  filter: grayscale(0%);
}

.img-Avatar:hover {
  filter: grayscale(0%);
}

.fa-github {
  font-size: 3rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 0 2px 5px;
  color: #5d5f6e;
  margin: 0 3rem;
}

.fa-desktop {
  font-size: 2.7rem;
  border-radius: 50%;
  padding: 7px 0 5px 5px;
  margin: 0 3rem;
  color: #5d5f6e;
}

.fa-github:hover {
  color: #706868;
  animation: pulse 1s linear infinite;
}

.fa-desktop:hover {
  color: #706868;
  animation: pulse 1s linear infinite;
}

.fa-window-close {
  font-size: 2.5rem;
  text-align: start;
  margin: 0.3rem 0 0 0.6rem;
}

.fa-window-close:hover {
  color: #806369;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 13%;
  top: 8%;
  height: 85vh;
  width: 76vw;
  background: #aec3d4;
  z-index: 1;
  border-radius: 0.5rem;
}

modal::backdrop {
  color: black;
}

.description {
  font-family: 'Titillium Web', sans-serif;
  margin: 3rem 0;
}
