.project-card {
  display: flex;
  flex-direction: row;
}

.img {
  border-radius: 0.5rem;
  visibility: visible;
  transition: opacity 1s linear;
}

.click-directions {
  color: aliceblue;
}

.img:hover {
  filter: brightness(50%);
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 13%;
  top: 8%;
  height: 85vh;
  width: 76vw;
  background: #aec3d4;
  z-index: 1;
  border-radius: 0.5rem;
}

modal::backdrop {
  color: black;
}

.description {
  font-family: 'Titillium Web', sans-serif;
  margin: 3rem 0;
}

.slider-wrapper {
  width: 2rem;
  height: 2rem;
  border: 2px solid #397b7b;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  cursor: pointer;
  border-top: none;
  left: 1rem;
  border-right: none;
  z-index: 100;
  align-self: center;
  cursor: pointer;
}

.nav-right {
  transform: translateY(-50%) rotate(-135deg);
  margin-left: 2rem;
}

.nav-left {
  margin-right: 2rem;
}

.nav-left-active,
.nav-right-active {
  border-color: #3dcbcb;
}

.right-left-active:hover {
  border-color: #1785df;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #8e8e8e;
  border-radius: 50%;
  display: inline-block;
  margin: 3rem 0.4rem 0 0.4rem;
  cursor: pointer;
}

.dot-active {
  background-color: #545454;
}

.dot:hover {
  background-color: #d2d2d2;
}
