// .Minecraft:hover {
//   height: 10rem;
//   background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
//     center / cover;
// }

// .Minecraft,
// .Avatar,
// .Amumu {
//   position: absolute;
// }

.img-Minecraft,
.img-Amumu,
.img-Avatar {
  filter: grayscale(50%);
}

.img-Minecraft:hover {
  filter: grayscale(0%);
}

.img-Amumu:hover {
  filter: grayscale(0%);
}

.img-Avatar:hover {
  filter: grayscale(0%);
}

.fa-github,
.fa-calendar {
  font-size: 2rem;
  cursor: pointer;
}
