// .Minecraft:hover {
//   height: 10rem;
//   background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
//     center / cover;
// }

// .Minecraft,
// .Avatar,
// .Amumu {
//   position: absolute;
// }

.project-card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  animation: fadeIn 1s linear;
  margin: 2rem 0 0 7rem;
}

.project-card:hover {
  background: linear-gradient(
    rgba(19, 161, 161, 0.808),
    rgba(175, 223, 224, 0.87)
  );
  box-shadow: 0px 1px 2px 2px rgb(129, 193, 218);
}

.img {
  border-radius: 0.5rem;
  filter: grayscale(50%);
}

.img:hover {
  filter: grayscale(0%);
}

.img-Minecraft,
.img-Amumu,
.img-Avatar {
  filter: grayscale(50%);
}

.img-Minecraft:hover {
  filter: grayscale(0%);
}

.img-Amumu:hover {
  filter: grayscale(0%);
}

.img-Avatar:hover {
  filter: grayscale(0%);
}

// .img {
//   position: absolute;
// }

.fa-github {
  font-size: 3rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 0 2px 5px;
  color: rgb(93, 95, 110);
  margin: 0 3rem;
}

.fa-desktop {
  font-size: 2.7rem;
  border-radius: 50%;
  padding: 7px 0 5px 5px;
  margin: 0 3rem;
  color: rgb(93, 95, 110);
}

.fa-github:hover {
  color: rgb(112, 104, 104);
  animation: pulse 1s linear infinite;
}

.fa-desktop:hover {
  color: rgb(112, 104, 104);
  animation: pulse 1s linear infinite;
}

// .description {
//   position: absolute;
//   width: 5rem;
//   background: linear-gradient(rgba(52, 53, 53, 0.808), rgba(0, 0, 0, 0.87));
//   width: 100%;
//   height: 100%;
//   z-index: 1;
// }

.fa-window-close {
  font-size: 2.5rem;
  text-align: start;
  margin: 0.3rem 0 0 0.6rem;
}

.fa-window-close:hover {
  color: rgb(128, 99, 105);
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 13%;
  top: 8%;
  height: 85vh;
  width: 76vw;
  background: rgb(174, 195, 212);
  z-index: 1;
  border-radius: 0.5rem;
}

modal::backdrop {
  color: rgb(0, 0, 0);
}

.modal-gif {
  width: 40rem;
  margin: 1rem auto 3rem auto;
  height: 21rem;
  animation: fadeIn 2s linear;
  border-radius: 0.5rem;
}

.description {
  font-family: codec;
  margin: 3rem 0;
}
