.comp-title {
  text-align: center;
  color: #6d6d6d;
}

.styles_closeIcon__1QwbI:hover {
  cursor: pointer;
}

.modal-gif {
  width: 40.3rem;
  margin: 1rem 0 0 3.5rem;
  animation: fadeIn 2s linear;
  border-radius: 0.5rem;
  height: 22.5rem;
}

.styles_modal__gNwvD {
  background-color: #d7edf1;
  border-radius: 0.6rem;
}

.description {
  color: rgb(99, 97, 97);
  font-size: 1.5rem;
  line-height: 2rem;
  // font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 3rem 0 2rem 0rem;
}

.fa-github,
.fa-desktop {
  text-align: center;
}

.link-icons {
  text-align: center;
  margin: 0 0 1rem 0;
}
